@model webRead.Models.DonationMainHead

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Donation Main Head</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.MID)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.MID)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Title)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Title)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Image)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Image)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Status)</dt>
        <dd class="col-sm-10">@(Model.Status == "1" ? "Active" : "Inactive")</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MID" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>